{% extends 'base.twig' %}

{% block title %}Edit category{% endblock %}

{% block content %}
    <h1 class="text-center">
        Edit category
    </h1>
    <div>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Save"/>
        </form>
    </div>
	<h4>
		<a href="{{ url('/categories/') }}" title="Categories index" class="label label-primary text-uppercase">Back to list</a>
	</h4>
{% endblock %}