{% extends 'errors/layout.twig' %}

{% block title %}Not found{% endblock %}
{% block content %}
	
	<h1> Page not found </h1>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <p><a href="{{ url('/ads/') }}" title="Home">Back to the homepage.</a></p>

{% endblock %}