{% extends 'base.twig' %}

{% block title %}Edit user's phone number{% endblock %}

{% block content %}
    <h1 class="text-center">
        Edit user's phone number
    </h1>
    
    <h3 class="not">
        <strong>User: </strong> {{ user.login }} <br/>
        {% if number != null %}
            <strong> Phone number:</strong><br/>
            {{ number }}
        {% endif %}
    </h3>
    
    <div class="smallest">
        <form action="" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

    <h4>
        <a href="{{ url('/user/account') }}" title="Users account" class="label label-primary text-uppercase">Back to account</a>
    </h4>
{% endblock %}