{% extends 'base.twig' %}

{% block content %}
    <h1 class="text-center">
        Change your password
    </h1>
    <h5 class="not"> User: {{ user.login }}</h5>
    
    <div>
        <form action="" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit"/>
        </form>
    </div>
	<h4>
        <a href="{{ url('/user/account') }}" title="User's account" class="label label-primary text-uppercase">Back to account</a>
    </h4>
{% endblock %}